<template>
    <v-flex xs12 sm6 md3>
        <v-card>
            <v-card-title primary-title>
                <div class="headline">Unlimited music now</div>
                <div class="grey--text">Listen to your favorite artists and albums whenever and wherever, online and offline.</div>
            </v-card-title>
            <v-card-actions>
                <v-dialog v-model="dialog" persistent max-width="500px">
                    <v-btn flat slot="activator">Comprar</v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">Compañia</span>
                            <v-spacer></v-spacer>
                            Precio
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12>
                                        <v-text-field label="Quantity" hint="Desired Quantity of Stocks" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="dialog = false">Buy</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card-actions>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false
            };
        }
    };
</script>